.list_titles{
	font-size:12px;
	font-weight:bold;
}

.card_titles{
	font-size:10px;
	margin:10px;
	padding:5px;
}

.card_title_text{
	font-weight: bold;
	padding: 5px;
}

.checklists{
	list-style-type: none;
	font-size: 10px;
	margin-top:0px;
}

.card_members{
	font-size:8px;
}

.checklist_titles{
	margin:10px;

}

.descriptions{
	margin:10px;

}
